@charset "utf-8";
/* CSS Document */

#login-form {
	margin:5% auto;
	max-width:500px;
    background-color: white;
}
#tbl{
   width:450px; 
   background-color: white;
}
#p-con{
  margin-top: 3% ;    
  margin-left: 15% ;
}
/* home page */
#wrapper{
	padding-top:50px;
}
/* Main chat container */

#chatContainer{
	width:510px;
	margin:100px auto;
	position:relative;
}
#scroll{
  height: 320px;
  overflow-y: scroll;  
}
